In [21]:
import pandas as pd
df = pd.read_csv('netflix.csv')
df

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,30-Nov-19,2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,30-Nov-19,2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,30-Nov-19,2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",29-Nov-19,2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,1-Nov-10,1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,18-Nov-09,2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,5-May-09,2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5835,70157452,Dinner for Five,NaN,NaN,United States,4-Feb-08,2007,TV-MA,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",TV Show
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,1-Jan-08,2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [22]:
missing_values = df.isnull()
missing_count = df.isnull().sum()
print(missing_count)

show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

In [23]:
df_cleaned = df.dropna()

In [24]:
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")
df_no_duplicates = df.drop_duplicates()

Number of duplicate rows: 0

In [25]:
df['country'] = df['country'].str.strip().str.title()

In [26]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip()

In [27]:
df['date_added'] = pd.to_datetime(df['date_added'], format='%d-%b-%y', errors='coerce')
df['date_added'] = df['date_added'].dt.strftime('%d-%m-%Y')

In [28]:
df.columns = (
    df.columns.str.strip()              # remove leading/trailing spaces
              .str.replace(' ', '_')    # replace spaces with underscores
              .str.replace('-', '_')    # optional: replace dashes
)

In [29]:
df.columns

Index(['show_id', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'type'],
      dtype='object')

In [30]:
print(df.dtypes)

show_id          int64
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
type            object
dtype: object

In [31]:
# 1. Convert 'date_added' to datetime.
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
# 2. Clean 'duration'.
df[['duration_int', 'duration_type']] = df['duration'].str.extract(r'(\d+)\s*(\w+)', expand=True)
# Convert duration_int to numeric.
df['duration_int'] = pd.to_numeric(df['duration_int'], errors='coerce').astype('Int64')

<ipython-input-31-ca9828ac1734>:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [32]:
df.dtypes

show_id                   int64
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
duration                 object
listed_in                object
description              object
type                     object
duration_int              Int64
duration_type            object
dtype: object

In [33]:
print(df.head())

    show_id                                title                    director  \
0  81193313                            Chocolate                         NaN
1  81197050  Guatemala: Heart of the Mayan World  Luis Ara, Ignacio Jaunsolo
2  81213894                      The Zoya Factor             Abhishek Sharma
3  81082007                            Atlantics                   Mati Diop
4  80213643                      Chip and Potato                         NaN

                                                cast  \
0  Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...
1                                  Christian Morales
2  Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...
3  Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...
4  Abigail Oliver, Andrea Libman, Briana Buckmast...

                    country date_added  release_year rating   duration  \
0               South Korea 2019-11-30          2019  TV-14   1 Season
1                       NaN 2019-11-30          2019   TV-G     67 min
2                     India 2019-11-30          2019  TV-14    135 min
3  France, Senegal, Belgium 2019-11-29          2019  TV-14    106 min
4    Canada, United Kingdom        NaT          2019   TV-Y  2 Seasons

                                           listed_in  \
0  International TV Shows, Korean TV Shows, Roman...
1                Documentaries, International Movies
2             Comedies, Dramas, International Movies
3   Dramas, Independent Movies, International Movies
4                                           Kids' TV

                                         description     type  duration_int  \
0  Brought together by meaningful meals in the pa...  TV Show             1
1  From Sierra de las Minas to Esquipulas, explor...    Movie            67
2  A goofy copywriter unwittingly convinces the I...    Movie           135
3  Arranged to marry a rich man, young Ada is cru...    Movie           106
4  Lovable pug Chip starts kindergarten, makes ne...  TV Show             2

  duration_type
0        Season
1           min
2           min
3           min
4       Seasons